# os-specific
.DS_Store

helloworld
helloworld-web

*.bak
*.back

# ansible
*.retry
cookies.txt
# vault_pass
hosts

# ansible-galaxy installed roles
ansible/roles/k3s-server/

# vagrant
.vagrant/
*.vdi
*.box
vagrant_private_key
*.log

# cache
cache

# box/packer-alpine310
box/packer-alpine310/cache
box/packer-alpine310/packer_cache/
box/packer-alpine310/isos

# inspec
inspec_hellworld.json
