#!/usr/bin/env bash

# Copyright (C) 2020 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

docker tag nemonik/python:{{ python_version }} {{ registry_host }}:{{ registry_port }}/nemonik/python:{{ python_version }}
docker push {{ registry_host }}:{{ registry_port }}/nemonik/python:{{ python_version }}
