version: "2"

services:
  postgresql:
    image:
      sameersbn/postgresql:10-2
    restart: always
    environment:
      - DB_NAME=taigadb
      - DB_USER=taiga
      - DB_PASS=password
    volumes:
      - ./volumes/postgresql/var/lib/postgresql:/var/lib/postgresql:Z
    ports:
      - "5432"    

  taiga:
    build: .
    image:
       nemonik/taiga:{{ taiga_version }}
    restart: always
    environment:
      - DEBUG=True
      - HOST={{ taiga_host }}
      - PORT={{ taiga_port }}
      - SCHEME=http
      - DB_HOST=postgresql
      - DB_PORT=5432
      - DB_NAME=taigadb
      - DB_USER=taiga
      - DB_PASSWORD=password
#      - LDAP_SERVER=ldap://FDQN
#      - LDAP_PORT=389
#      - LDAP_BIND_DN=uid=SERVICE ACCOUNT DN
#      - LDAP_BIND_PASSWORD=PASSWORD
#      - LDAP_SEARCH_BASE=BASE DN FOR USERS
#      - LDAP_SEARCH_FILTER_ADDITIONAL=(uid=*)
#      - LDAP_EMAIL_ATTRIBUTE=mail
#      - LDAP_FULL_NAME_ATTRIBUTE=cn
#      - LDAP_USERNAME_ATTRIBUTE=uid
{% if http_proxy %}
      - http_proxy={{ http_proxy }}
      - HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
      - https_proxy={{ https_proxy }}
      - HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
      - no_proxy={{ no_proxy }}
      - NO_PROXY={{ no_proxy }}
{% endif %}  
    volumes:
      - ./volumes/media:/taiga/media:Z
      - ./volumes/static:/taiga/static:Z
    ports:
      - "{{ taiga_port }}:8080"
    depends_on:
      - postgresql
