# Taiga

Taiga is an Open Source project management platform for agile development.

To spin up:

```
kubectl apply -f taiga.yml
```

Then access via

[http://{{ taiga_host }}:{{ taiga_port }}](http://{{ taiga_host }}:{{ taiga_port }})

To destroy:

```
kubectl destroy -d taiga.yml
```
