# Copyright (C) 2020 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

---

apiVersion: v1
kind: Namespace
metadata:
  name: taiga

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-local-path-pvc
  namespace: taiga
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
  namespace: taiga
  labels:
    app: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        image: {{ registry_host }}:{{ registry_port }}/sameersbn/postgresql:10-2
        imagePullPolicy: IfNotPresent
        env:
        - name: DB_NAME
          value: taigadb
        - name: DB_USER
          value: taiga
        - name: DB_PASS
          value: password
        ports:
        - name: postgres
          containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql
          name: data
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -h
            - localhost
            - -U
            - postgres
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -h
            - localhost
            - -U
            - postgres
          initialDelaySeconds: 5
          timeoutSeconds: 1
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: postgresql-local-path-pvc

---

apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: taiga
spec:
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
  selector:
    app: postgresql

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: taiga-static-local-path-pvc
  namespace: taiga
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: taiga-media-local-path-pvc
  namespace: taiga
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi

---

apiVersion: apps/v1
kind: Deployment  
metadata:
  name: taiga
  namespace: taiga
  labels:
    app: taiga
spec:
  replicas: 1
  selector:
    matchLabels:
      app: taiga
  template:
    metadata:
      labels:
        app: taiga
    spec:
      containers:
      - name: taiga
        image: {{ registry_host }}:{{ registry_port }}/nemonik/taiga:{{ taiga_version }}
        imagePullPolicy: IfNotPresent
        env:
        - name: DEBUG
          value: "true"
        - name: HOST
          value: {{ taiga_host }}
        - name: PORT
          value: "{{ taiga_port }}"
        - name: SCHEME
          value: http
        - name: DB_HOST
          value: postgresql
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: taigadb
        - name: DB_USER
          value: taiga
        - name: DB_PASSWORD
          value: password
{% if http_proxy %}
        - name: http_proxy
          value: {{ http_proxy }}
        - name: HTTP_PROXY
          value: {{ http_proxy }}
{% endif %}
{% if https_proxy %}
        - name: https_proxy
          value: {{ https_proxy }}
        - name: HTTPS_PROXY
          value: {{ https_proxy }}
{% endif %}
{% if no_proxy %}
        - name: no_proxy
          value: {{ no_proxy }}
        - name: NO_PROXY
          value: {{ no_proxy }}
{% endif %}
        ports:
        - name: http
          containerPort: 8080
        volumeMounts:
        - mountPath: /taiga/static
          name: static
        - mountPath: /taiga/media
          name: media
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 300
          periodSeconds: 10
          timeoutSeconds: 15
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 300
          periodSeconds: 10
          timeoutSeconds: 15
          failureThreshold: 3
      volumes:
      - name: static
        persistentVolumeClaim:
          claimName: taiga-static-local-path-pvc
      - name: media
        persistentVolumeClaim:
          claimName: taiga-media-local-path-pvc

---

apiVersion: v1
kind: Service
metadata:
  name: taiga
  namespace: taiga
spec:
  ports:
    - name: http
      targetPort: http
      port: {{ taiga_port }}
  selector:
    app: taiga
  type: LoadBalancer
  loadBalancerIP: {{ taiga_host }}
