[Unit]
Description=kubectl proxy 8001
After=network.target

[Service]
Environment=KUBECONFIG=/etc/rancher/k3s/k3s.yaml
Type=simple
User=root
ExecStart=/usr/local/bin/k3s kubectl proxy --address={{ hostvars[ansible_nodename].ansible_eth1.ipv4.address }} --port=8001 --accept-hosts=^.*
Restart=on-abort

[Install]
WantedBy=multi-user.target
