#!/usr/bin/env bash

# Copyright (C) 2019 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

docker tag nemonik/inspec:{{ inspec_version }} {{ hostvars['toolchain']['ansible_host'] }}:5000/nemonik/golang:{{ inspec_version }}
docker push {{ hostvars['toolchain']['ansible_host'] }}:5000/nemonik/golang:{{ inspec_version }}
