version: '2'

services:
  sonarqube-postgresql:
    image:
      sameersbn/postgresql:10-2
    restart: always
    environment:
        - DB_NAME=sonardb
        - DB_USER=sonar
        - DB_PASS=sonar
    volumes:
        - ./volumes/sonarqube-postgresql/var/lib/postgresql:/var/lib/postgresql:Z
    ports:
        - "5432"    

  sonarqube:
    build: .
    image:
      nemonik/sonarqube:{{ sonarqube_version }}
    restart: always
{% if http_proxy  %}  
    command: -Dhttp.nonProxyHosts={{ no_proxy }} -Dhttp.proxyHost={{ http_proxy.split("http://")[1].split(":")[0]}} -Dhttp.proxyPort={{ http_proxy.split("http://")[1].split(":")[1]}}
{% endif %}
{% if (http_proxy or https_proxy or no_proxy) %}
    environment:
{% endif %}
{% if http_proxy %}
      - http_proxy={{ http_proxy }}
      - HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
      - https_proxy={{ https_proxy }}
      - HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
      - no_proxy={{ no_proxy }}
      - NO_PROXY={{ no_proxy }}
{% endif %} 
    volumes:
      - ./volumes/sonarqube-logs:/opt/sonarqube/logs
      - ./volumes/sonarqube-conf:/opt/sonarqube/conf
      - ./volumes/sonarqube-data:/opt/sonarqube/data
      - ./volumes/sonarqube-extensions:/opt/sonarqube/extensions
      - ./volumes/sonarqube-bundled-plugins:/opt/sonarqube/lib/bundled-plugins
    ports:
      - "{{ sonarqube_port }}:9000"
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonardb
    depends_on:
      - sonarqube-postgresql
