# SonarQube

SonarQube, an open source platform for continuous inspection of code quality. Permits static analysis of code to detect bugs, code smells and security vulnerabilities on 20+ programming languages including Java (including Android), C#, PHP, JavaScript, C/C++, COBOL, PL/SQL ...

To spin up:

```
kubectl apply -f sonarqube.yml
```

Then access via

[http://{{ sonarqube_host }}:{{ sonarqube_port }}](http://{{ sonarqube_host }}:{{ sonarqube_port }})

To destory:

```
kubectl destroy -f sonarqube.yml
```
