version: "2"

# Copyright (C) 2018 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

services:
  registry:
    build: .
    image:
        nemonik/registry:{{ registry_version }}
    restart: always
{% if (http_proxy or https_proxy or no_proxy) %}
    environment:
{% endif %}
{% if http_proxy %}
        - http_proxy={{ http_proxy }}
        - HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
        - https_proxy={{ https_proxy }}
        - HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
        - no_proxy={{ no_proxy }}
        - NO_PROXY={{ no_proxy }}
{% endif %}  
    volumes:
        - ./volumes/registry:/var/lib/registry
    ports:
        - "5000:5000"
