# The configuration and steps to build our Docker Registry, and start it in a container.

Create our Registry.

```
docker-compose build
docker-compose up -d
```

Configure systemd by adding the line:

```
 "insecure-registries" : ["192.168.0.11:5000"]
```

to `/etc/docker/daemon.json`, so that it looks like this:

```
{
  "insecure-registries" : ["192.168.0.11:5000"]
}
```

Then restart Docker.

```
sudo systemctl daemon-reload
sudo systemctl restart docker
```

To test the registry. 

Push a image in

```
docker pull ubuntu
docker tag ubuntu 192.168.0.11:5000/ubuntu
docker push 192.168.0.11:5000/ubuntu
```

Query the catalog of the private registry:

```
curl -X GET http://192.168.0.11:5000/v2/_catalog
```

Returns:

```
{"repositories":["ubuntu"...]}
```

Query for the container you pushed

```
curl -X GET http://192.168.0.11:5000/v2/ubuntu/tags/list
```

Returns:

```
{"name":"ubuntu","tags":["latest"]}
```

Spin up a container for the image you pushed

```
docker run -it 192.168.0.11:5000/ubuntu /bin/bash
```