{ 
"dns": [{% set nameserver_list = nameservers.split(',') %}{% for nameserver in nameserver_list %}"{{ nameserver }}"{% if loop.index != nameserver_list|length %}, {% endif %}{% endfor %}],
"insecure-registries": ["{{ hostvars['toolchain']['ansible_host'] }}:5000"{% if (inventory_hostname == 'toolchain') %}, "172.30.0.0/16"{% endif %}]
}
