version: "2"

# Copyright (C) 2019 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

services:
    drone-postgresql:
        image:
            sameersbn/postgresql:10-2
        restart: always
        environment:
            - DB_NAME=drone
            - DB_USER=drone
            - DB_PASS=password
            - DB_EXTENSION=pg_trgm
        ports:
            - "5432"
        volumes:
            - ./volumes/drone-postgresql/var/lib/postgresql:/var/lib/postgresql:Z

    drone-agent:
        build: drone-agent/.
        image:
           nemonik/agent:{{ drone_version }}
        restart: always
        environment:
           - DRONE_RPC_SERVER=http://{{ drone_host }}:{{ drone_port }}
           - DRONE_RPC_SECRET=shared_secret
           - DRONE_RUNNER_CAPACITY=1
           - DRONE_DEBUG_PRETTY=true
           - DRONE_LOGS_DEBUG=true  
        ulimits:
           nofile:
              soft: "262144"
              hard: "262144" 
        volumes:
           - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
           - drone-server

    drone-server:
        build: drone-server/.
        image:
            nemonik/drone:{{ drone_version }}
        restart: always
        environment:
            - DRONE_DATABASE_DRIVER=postgres
            - DRONE_DATABASE_DATASOURCE=postgres://drone:password@drone-postgresql:5432/drone?sslmode=disable
            - DRONE_GIT_ALWAYS_AUTH=false
            - DRONE_GITLAB_SERVER=http://{{ hostvars[ansible_nodename].ansible_eth1.ipv4.address }}:10080
            - DRONE_GITLAB_CLIENT_ID={{ drone_gitlab_client_id }}
            - DRONE_GITLAB_CLIENT_SECRET={{ drone_gitlab_client_secret }}
            - DRONE_RPC_SECRET=shared_secret
            - DRONE_SERVER_HOST={{ drone_host }}
            - DRONE_SERVER_PROTO=http
            - DRONE_AGENTS_ENABLED=true
            - DRONE_TLS_AUTOCERT=false
            - DRONE_LOGS_PRETTY=true
            - DRONE_LOGS_COLOR=true
            - DRONE_USER_CREATE=username:root,admin:true
        ulimits:
          nofile:
            soft: "262144"
            hard: "262144"
        ports:
            - {{ drone_port }}:80
        volumes:
            - ./volumes/drone-server/var/lib/drone:/var/lib/drone:Z
        depends_on:
            - drone-postgresql



