# Drone

Drone is a Continuous Delivery system built on container technology. 

Spin up via

```
docker-compose build
docker-compose up
```

Then access via

[http://{{ ipaddr }}:{{ drone_port }}](http://{{ ipaddr }}:{{ drone_port }})

To stop:

```
docker-compose stop
```

To remove:

```
docker-compose rm
```
