---
# tasks file for plantuml-server

# Copyright (C) 2018 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

- name: "create /home/{{ ansible_user_id }}/plantuml-server"
  become: yes
  file:
    path: "/home/{{ ansible_user_id }}/plantuml-server"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
  tags:
    - plantuml-server

- name: "template files into /home/{{ ansible_user_id }}/plantuml-server"
  become: yes
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"   
    force: yes
  with_items:
    - { src: "templates/docker-compose.j2", dest: "/home/{{ ansible_user_id }}/plantuml-server/docker-compose.yml" }
    - { src: "templates/Dockerfile.j2", dest: "/home/{{ ansible_user_id }}/plantuml-server/Dockerfile" }
    - { src: "templates/dockerfile_build.j2", dest: "/home/{{ ansible_user_id }}/plantuml-server/dockerfile_build.sh" }
  tags:
    - plantuml-server

- name: "make /home/{{ ansible_user_id }}/plantuml-server/dockerfile_build.sh executable"
  become: yes
  file: 
    path: /home/{{ ansible_user_id }}/plantuml-server/dockerfile_build.sh
    mode: "u=rwx,g=r,o=r"  
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
  tags:
    - plantuml-server
  
- name: "build nemonik/plantuml-server:{{ plantuml_server_version }} docker image"
  become: yes
  docker_image:
    path: "/home/{{ ansible_user_id }}/plantuml-server"
    name: "nemonik/plantuml-server:{{ plantuml_server_version }}"
    buildargs:
      http_proxy: "{{ http_proxy }}"
      HTTP_PROXY: "{{ http_proxy }}"
      https_proxy: "{{ https_proxy }}"
      HTTPS_PROXY: "{{ https_proxy }}"
      NO_PROXY: "{{ no_proxy }}"
      no_proxy: "{{ no_proxy }}" 
  tags:
    - plantuml-server
    
- name: spin up plantuml-server via docker-compose
  become: yes
  docker_service:
    build: no
    debug: yes
    project_src: "/home/{{ ansible_user_id }}/plantuml-server/"
  tags:
    - plantuml-server