version: "3"

services:
  gitlab-postgresql:
    image:
      sameersbn/postgresql:9.6-2
    environment:
        - DB_NAME=gitlabhq_production
        - DB_USER=gitlab
        - DB_PASS=password
        - DB_EXTENSION=pg_trgm
    volumes:
        - ./volumes/gitlab-postgresql/var/lib/postgresql:/var/lib/postgresql:Z
    ports:
        - "5432"    

  gitlab-redis:
    image:
        redis:4.0
    command:
        - --loglevel warning
    volumes:
        - ./volumes/gitlab-redis/var/lib/redis:/var/lib/redis:Z
    ports:
        - "6379"
        
  gitlab:
    build: .
    image:
        nemonik/gitlab:{{ gitlab_version }}
    environment:
        - GITLAB_HOST=docker.for.mac.localhost
        - GITLAB_PORT=10080
        - GITLAB_SSH_PORT=10022
        - GITLAB_SECRETS_DB_KEY_BASE=long-and-random-alpha-numeric-string
        - GITLAB_SECRETS_SECRET_KEY_BASE=long-and-random-alpha-numeric-string
        - GITLAB_SECRETS_OTP_KEY_BASE=long-and-random-alpha-numeric-string
        - TZ=Eastern Time (US & Canada)
        - GITLAB_TIMEZONE=Eastern Time (US & Canada)
        - GITLAB_EMAIL_REPLY_TO=nemonik@gmail.com
        - GITLAB_EMAIL=nemonik@gmail.com
        - SMTP_HOST=smtp.gmail.com
        - SMTP_PORT=587
        - SMTP_ENABLED=true
        - SMTP_DOMAIN=smtp.gmail.com
        - SMTP_STARTTLS=true
        - SMTP_AUTHENTICATION=plain
        - SMTP_USER=nemonik
        - SMTP_PASS=${SMTP_PASS}
        - DB_ADAPTER=postgresql
        - DB_ENCODING=unicode
        - DB_HOST=gitlab-postgresql
        - DB_PORT=5432
        - DB_NAME=gitlabhq_production
        - DB_USER=gitlab
        - DB_PASS=password
        - REDIS_HOST=gitlab-redis
        - REDIS_PORT=6379
{% if http_proxy %}
        - http_proxy={{ http_proxy }}
        - HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
        - https_proxy={{ https_proxy }}
        - HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
        - no_proxy={{ no_proxy }}
        - NO_PROXY={{ no_proxy }}
{% endif %} 
    volumes:
        - ./volumes/gitlab/home/git/data:/home/git/data:Z
    ports:
        - "10080:80"
        - "10022:22"
    depends_on:
        - gitlab-redis
        - gitlab-postgresql
