version: "2"

# Copyright (C) 2019 Michael Joseph Walsh - All Rights Reserved
# You may use, distribute and modify this code under the
# terms of the the license.
#
# You should have received a copy of the license with
# this file. If not, please email <mjwalsh@nemonik.com>

services:
  gitlab-postgresql:
    image:
      sameersbn/postgresql:10
    restart: always
    environment:
        - DB_NAME=gitlabhq_production
        - DB_USER=gitlab
        - DB_PASS=password
        - DB_EXTENSION=pg_trgm
    volumes:
        - ./volumes/gitlab-postgresql/var/lib/postgresql:/var/lib/postgresql:Z
    ports:
        - "5432"    

  gitlab-redis:
    image:
        sameersbn/redis:4.0.9-1
    restart: always
    command:
        - --loglevel warning
    volumes:
        - ./volumes/gitlab-redis/var/lib/redis:/var/lib/redis:Z
    ports:
        - "6379"
        
  gitlab:
    build: .
    image:
        nemonik/gitlab:{{ gitlab_version }}
    restart: always
    environment:
        - GITLAB_HOST={{ hostvars[ansible_nodename].ansible_eth1.ipv4.address }}
        - GITLAB_PORT=10080
        - GITLAB_SSH_PORT=10022
        - GITLAB_SECRETS_DB_KEY_BASE=long-and-random-alpha-numeric-string
        - GITLAB_SECRETS_SECRET_KEY_BASE=long-and-random-alpha-numeric-string
        - GITLAB_SECRETS_OTP_KEY_BASE=long-and-random-alpha-numeric-string
        - TZ=Eastern Time (US & Canada)
        - GITLAB_TIMEZONE=Eastern Time (US & Canada)
        - GITLAB_EMAIL_REPLY_TO=mjwalsh@nmitre.org
        - GITLAB_EMAIL=mjwalsh@mitre.org
        - SMTP_HOST=mail.mitre.org
        - SMTP_PORT=25
        - SMTP_ENABLED=true
        - SMTP_DOMAIN=mitre.org
        - SMTP_STARTTLS=false
        - SMTP_USER=mjwalsh
        - SMTP_AUTHENTICATION=false
        - DB_ADAPTER=postgresql
        - DB_ENCODING=unicode
        - DB_HOST=gitlab-postgresql
        - DB_PORT=5432
        - DB_NAME=gitlabhq_production
        - DB_USER=gitlab
        - DB_PASS=password
        - REDIS_HOST=gitlab-redis
        - REDIS_PORT=6379
{% if http_proxy %}
        - http_proxy={{ http_proxy }}
        - HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy %}
        - https_proxy={{ https_proxy }}
        - HTTPS_PROXY={{ https_proxy }}
{% endif %}
{% if no_proxy %}
        - no_proxy={{ no_proxy }}
        - NO_PROXY={{ no_proxy }}
{% endif %} 
    volumes:
        - ./volumes/gitlab/home/git/data:/home/git/data:Z
    ports:
        - "10080:80"
        - "10022:22"
    depends_on:
        - gitlab-redis
        - gitlab-postgresql
